---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (() => {
    
    return [
        {params: { name: "bulbasaur" }},
        {params: { name: "charmander" }},
        {params: { name: "squirtle" }},
    ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<MainLayout titulo=`${ name.charAt(0).toUpperCase() + name.slice(1) }`>
    <h1 class="text-3xl capitalize">{name}</h1>
</MainLayout>