---
import MainLayout from "../layouts/MainLayout.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";

// Esto se trae el tipado de la respuesta de la API
import type { PokemonListResponse } from "../interfaces/pokemon-list.response.ts";
import Title from "@/components/shared/Title.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon/");
const data = (await resp.json()) as PokemonListResponse;
// console.log("date: ", data);
---

<MainLayout titulo="Pokémon Static | Home">
	<Title >Listado de Pokémons</Title>
	<section
		aria-label="Listado de pokémons"
		class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 mt-6"
	>
		{
			data.results.map((pokemon) => {
				return <PokemonCard name={pokemon.name} url={pokemon.url} />;
			})
		}
	</section>
</MainLayout>
