---
import { Counter } from "@/components/Counter";
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const counterValue = 20; // puede haber venido de cualquier parte este valor
---

<MainLayout titulo="Favoritos" description="Lista de favoritos">
	<Title>Islas </Title>

	<video controls muted autoplay transition:persist="playing-video">
		<source
			src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
			type="video/mp4"
		/>
	</video>

	<div
		style={{
			height: "2000px",
			background: "black",
			opacity: 0.5,
		}}
	>
	</div>

	<Counter
		transition:persist="counter"
		transition:persist-props
		client:visible
		initValue={counterValue}
	/>
	<!-- initValue={counterValue} se le pueden pasar props al componente interactivo -->
	<!--
		transition:persist persiste el estado del componente entre navegaciones, deben colocarle nombre en ambos lados para que funcione
		transition:persist-props además de persistir el estado, no permite que reciba la props que esta nueva página le está pasando
	-->
	<hr>
	<Counter
		transition:persist="counter"
		transition:persist-props
		client:visible
		initValue={counterValue}
	>
		<Title>Counter Island!!</Title>
	</Counter>
</MainLayout>
